# Copy this file to .env and fill in your credentials

# Monarch
MONARCH_EMAIL=your_email@example.com
MONARCH_PASSWORD=yourpassword
MONARCH_MFA_SECRET=yourmfasecret
MONARCH_HUMAN_INTEREST_ACCOUNT_ID="123456789012345678"
MONARCH_ELEVATE_UMB_ACCOUNT_ID="123456789012345678"
MONARCH_RIPPLING_COMMUTER_ACCOUNT_ID="123456789012345678"
MONARCH_HSA_BANK_ACCOUNT_ID="123456789012345678"
MONARCH_HUMAN_INTEREST_CATEGORY_ID="123456789012345678"
MONARCH_ELEVATE_UMB_CATEGORY_ID="123456789012345678"
MONARCH_RIPPLING_COMMUTER_CATEGORY_ID="123456789012345678"
MONARCH_HSA_BANK_CATEGORY_ID="123456789012345678"

# Human Interest
HUMAN_INTEREST_EMAIL=your_email@example.com
HUMAN_INTEREST_PASSWORD=yourpassword
HUMAN_INTEREST_BASE_URL=https://app.humaninterest.com/account
HUMAN_INTEREST_TRANSACTIONS_URL=https://app.humaninterest.com/account/activity
HUMAN_INTEREST_PORTFOLIO_URL=https://app.humaninterest.com/account/portfolio

# Rippling
RIPPLING_EMAIL=your_email@example.com
RIPPLING_PASSWORD=yourpassword
RIPPLING_BASE_URL=https://app.rippling.com
RIPPLING_HSA_DASHBOARD_URL=https://app.rippling.com/hsa-benefits/employee/dashboard/overview
RIPPLING_HSA_TRANSACTIONS_URL=https://rippling.elevateaccounts.com/dashboard/my-accounts/2409200
RIPPLING_HSA_PORTFOLIO_URL="https://rippling.elevateaccounts.com/investments?id=2409200"
RIPPLING_COMMUTER_BENEFITS_URL=https://rippling.elevateaccounts.com/dashboard/my-accounts/2446838
RIPPLING_MFA_SECRET=yourmfasecret

# HSA Bank
HSA_BANK_USERNAME=yourusername
HSA_BANK_PASSWORD=yourpassword
HSA_BANK_LOGIN_URL="https://account.hsabank.com/#/auth/login?partner=15"
HSA_BANK_TRANSACTIONS_URL="https://account.hsabank.com/#/contributions"
HSA_BANK_ACCOUNT_SUMMARY_URL="https://account.hsabank.com/#/investment-account/drivewealth/v2/account-summary/account_id"
HSA_BANK_CURRENT_HOLDINGS_URL="https://account.hsabank.com/#/investment-account/drivewealth/v2/current-holdings/account_id/1"

# Computer use
ANTHROPIC_API_KEY=sk-ant-putyourkeyhere

# Other
EMPLOYER_NAME=your_employer_name